.p{
    font-family: arial;
    margin-top:0px;
}


.a{
    font-style:normal;
    font-family: arial;
    font-size:30px;
    /*text-align: center;*/
    font-weight: bold;
    width:300px;
    line-height: 30px;
    margin-top:0px;
    margin-bottom:0px;
}

.b{
    font-family: Arial;
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.c{
    font-family: Arial;
    font-size: 20px;
    margin-top: 30px;
    color: gray;
}

.d{
    background-color: rgb(192, 12, 12);

    color: white;
    text-align: center;
    font-size: 30px;
    font-family: arial;
    padding: 20px 20px;
    margin-bottom:0px;
}
span{
    color: red;
}