.container{
    display: grid ;
    height:500px;
    width: 800px;
    border: 1px solid black;
   /* grid-template-columns: repeat(4,1fr);*/
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: repeat(3,1fr);
    background-color: bisque;
    /*grid-template-areas: "header header header header" "main main . sidebar" 
    "footer footer footer footer";*/
    column-gap: 10px;
    row-gap:10px;
    justify-items: center;
    align-items: center;
    /*justify-content: space-between;
    align-content: space-between;*/
    place-content: center;
}
.item{
    background-color: aqua;
    text-align:center;
    border: 1px solid black;
    /*height: 100px;
    width: 100px;*/
    align-items: center;
    justify-content: center;
}
/*
.item1{
    grid-area: header;
}
.item2{
    grid-area:main;
}
.item3{
    grid-area:sidebar;
}
.item4{
    grid-area:footer;
}*/

