.container{
    display:flex;
    height:800px;
    width:800px;
    background-color: aquamarine;
    flex-direction:row;
    border:1px solid black;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    /*gap:20px;*/

}
.item{height:200px;
    width:200px;
    border:1px solid black;
    background-color: white;
}

.item3{
    order:-1;;
    flex-grow: 2;
}